<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/psd-premium/rendu-3d-pop-corn-temps-du-cinema_252008-391.jpg?w=2000)">
  TOUTES LES CATÉGORIES
</div>

<div class="d-flex flex-row-reverse">
<%= link_to "Ajoutez une nouvelle liste", new_list_path(@list), class: "btn btn-flat-bis mt-4 mx-4" %>
</div>
<div class="container">
    <div class="row">
      <div class="col-12 col-md-4 mt-4">
          <% @lists.each do |list| %>
            <div class="card-product d-flex justify-content-center mb-2 mt-4">
              <img src="http://bicause.fr/wordpress/wp-content/uploads/2015/10/12185.jpg" />
              <div class="card-product-infos">
                <h2><%= list.name%></h2>
              </div>
                <%= link_to "Voir les détails", list_path(list), class: "btn btn-flat" %>
            </div>
          <% end %>
      </div>
    </div>
</div>
